@model CourseManagement.Core.ViewModels.VideoViewModel

@{
    ViewData["Title"] = "Tạo video mới";
}

<h2 class="mb-4">Tạo video mới</h2>

<form asp-action="UploadAndCreateVideo" asp-controller="Video" asp-area="Video" enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="LessonId" />

    <div class="mb-3">
        <label asp-for="Title" class="form-label">Tiêu đề video</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Duration" class="form-label">Thời lượng (giây)</label>
        <input asp-for="Duration" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Provider" class="form-label">Nguồn cung cấp</label>
        <input asp-for="Provider" class="form-control" />
    </div>
    
    <div class="mb-4">
        <label class="form-label fw-semibold">Course</label>
        <select asp-for="CourseTitle" class="form-control shadow rounded-3 border-0 px-3 py-2" id="Course">
        </select>
        <span asp-validation-for="CourseTitle" class="text-danger small"></span>
    </div>

    <div class="mb-4">
        <label asp-for="ChapterTitle" class="form-label fw-semibold">Chapter</label>
        <select asp-for="ChapterTitle" class="form-control shadow rounded-3 border-0 px-3 py-2" id="Chapter">
        </select>
        <span asp-validation-for="ChapterTitle" class="text-danger small"></span>
    </div>
    
    <div class="mb-4">
        <label asp-for="LessonTitle" class="form-label fw-semibold">Lesson</label>
        <select asp-for="LessonTitle" class="form-control shadow rounded-3 border-0 px-3 py-2" id="Lesson">
        </select>
        <span asp-validation-for="LessonTitle" class="text-danger small"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Upload video (.mp4)</label>
        <input type="file" name="videoFile" class="form-control" accept="video/*" />
    </div>

    <button type="submit" class="btn btn-primary">Tải lên & Lưu</button>
</form>


@section Scripts
{
    <script>
        $("#Course").select2({
            placeholder: "Select a course",
            ajax: {
                url: '@Url.Action("GetAllCoursesSelect2", "Course", new { area = "Course" })',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        searchTerm: params.term
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.results.data
                    };
                },
                cache: true
            },
        });

        $('#Course').on('change', function () {
            // Xóa Chapter hiện tại
            $('#Chapter').val(null).trigger('change');
        });

        $("#Chapter").select2({
            placeholder: "Select a chapter",
            ajax: {
                url: '@Url.Action("GetAllChaptersByCourseIdSelect2", "Chapter", new { area = "Chapter" })',
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        searchTerm: params.term,
                        courseId: $('#Course').val()
                    };
                },
                processResults: function (data) {
                    return {
                        results: data.data
                    };
                },
                cache: true
            },
        });
        
        $('#Chapter').on('change', function () {
            $('#Lesson').val(null).trigger('change');
        })
        
        $("#Lesson").select2({
            placeholder: "Select a lesson",
            ajax: {
                url: "@Url.Action("GetAllLessonsByChapterIdSelect2","Lesson", new { area = "Lesson" })",
                dataType: 'json',
                delay: 250,
                data: function (params) {
                    return {
                        searchTerm: params.term,
                        chapterId : $('#Chapter').val()
                    }
                },
                processResults: function (data) {
                    console.log(data)
                    return {
                        results: data.data
                    }
                }
            }
        })
    </script>
}
