<div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <hr/>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="@Url.Action("Index", "Home", new { area = "" })" class="nav-link active" aria-current="page">
                <i class="fas fa-home me-2"></i> Home
            </a>
        </li>
        <li>
            <a asp-area="Course" asp-controller="Course" asp-action="Index" class="nav-link text-white">
                <i class="fas fa-book me-2"></i> Courses
            </a>
        </li>
        <li>
            <a asp-area="Category" asp-controller="Category" asp-action="Index" class="nav-link text-white">
                <i class="fas fa-th me-2"></i> Categories
            </a>
        </li>
        <li>
            <a asp-area="Chapter" asp-controller="Chapter" asp-action="Index" class="nav-link text-white">
                <i class="fas fa-box me-2"></i> Chapters
            </a>
        </li>
        <li>
            <a asp-area="Lesson" asp-controller="Lesson" asp-action="Index" class="nav-link text-white">
                <i class="fas fa-chalkboard-teacher me-2"></i> Lessons
            </a>
        </li>
        <li>
            <a asp-area="Document" asp-controller="Document" asp-action="Index" class="nav-link text-white">
                <i class="fas fa-file-alt me-2"></i> Documents
            </a>
        </li>
        <li>
            <a asp-area="Video" asp-controller="Video" asp-action="Index" class="nav-link text-white">
                <i class="fas fa-video me-2"></i> Videos
            </a>
        </li>
    </ul>
    <hr>
    <!-- Dropdown -->
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            var currentPath = window.location.pathname.toLowerCase();

            $("#sidebar .nav-link").each(function () {
                var href = $(this).attr("href").toLowerCase();

                if (href !== "#" && currentPath.startsWith(href)) {
                    $("#sidebar .nav-link").removeClass("active");
                    $(this).addClass("active");
                    return false; // dừng vòng lặp khi đã tìm thấy
                }
            });
        });
    </script>
}
